
<section class="banner">
    <img src="~/images/banner1920x600.jpg" alt="Banner Image from Restaurant Matröran" class="img-fluid" />
</section>

<section class="home-info">
    <div class="home-intro">

        <p>Welcome to BITE ME! Eat food inspired from USA!</p>

    </div>

    <div class="home-where">
        <p>Where</p>
        <p>Hamngatan 10,</p>
        <p>11111, Stockholm</p>
    </div>

    <div class="home-when">
        <p>Open:</p>
        <p>Mon-Thu: 12-19</p>
        <p>Fri-Sun: 12-22</p>
    </div>
</section>

<section class="dishes">
    <div class="row">
        <div class="col">
            <img src="~/Images/spare-ribs640x427.jpg" alt="Spare ribs with BBQ glaze" />
        </div>
        <div class="col">
            <img src="~/Images/hamburger640x427.jpg" alt="Burger with caramalized onions, lettuce, pickles, spicy majo and bacon" />
        </div>
        <div class="col">
            <img src="~/Images/pizza640x427.jpg" alt="Pizza with tomato sauce and cheese" />
        </div>
    </div>
</section>

